<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="tencent" value="https://mirrors.cloud.tencent.com/nuget/" />
    <add key="aliyun" value="https://nuget.alicdn.com/nuget/index.json" />
    <add key="microsoft" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>